.profile__description {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .profile__description {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}