.pop-up__container {
  background-color: #fff;
  color: #000;
  margin: 195px auto;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 768px) {
  .pop-up__container {
    margin-top: 123px;
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}